html {
    height: 100svh;
}

body {
    height: 100svh;
}

#app {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#app > .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100;
}

#app > .content > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100;
}

@media print {
    #vue-inspector-container {
        display: none !important;
    }
    #__vue-devtools-container__ {
        display: none !important;
    }
}
