html {
    height: 100svh;
}

body {
    height: 100svh;
}

#app {
    height: 100svh;
}

#app > .content {
    height: 100%;
}

#app > .content > div {
    height: 100%;
}

@media print {
    #vue-inspector-container {
        display: none !important;
    }
    #__vue-devtools-container__ {
        display: none !important;
    }
}
